<template>
  <div>
    <div
      v-if="modalItem"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="bg-white rounded-lg p-4">
        <img
          class="object-cover w-full h-64"
          :src="modalItem.url"
          alt="image"
        />
        <!-- Add other modal content here as needed -->
        <button
          @click="closeModal"
          class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'InstagramModal',
  props: {
    modalItem: {
      type: Object as PropType<{ id: string; url: string }>, // Adjust the object type accordingly based on your data structure
      required: true,
    },
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
  },
});
</script>
