<template>
  <div class="flex md:w-4/5 lg:w-3/4 px-4 mt-14 mx-auto bg-white flex-col">
    <div class="grid gap-3 grid-cols-1 md:grid-cols-2 w-full pt-4">
      <div class="flex justify-center items-center">
        <GoogleLogo class="h-2/4" />
      </div>
      <div>
        <HeaderProfileInformation />
      </div>
    </div>

    <HeaderStory />
    <InstagramFeed />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import GoogleLogo from '@/components/Images/GoogleLogo.vue';
import HeaderProfileInformation from '../components/Header/HeaderProfileInformation.vue';
import HeaderStory from '../components/Header/HeaderStory.vue';
import InstagramFeed from '../components/Feed/InstragramFeed.vue';

export default defineComponent({
  name: 'HomeView',
  components: {
    HeaderProfileInformation,
    GoogleLogo,
    HeaderStory,
    InstagramFeed,
  },
});
</script>
