<template>
  <div class="gap-10 md:ml-[150px] flex md:gap-24 mx-auto over mt-2">
    <div class="flex flex-col justify-center items-center gap-2">
      <div
        class="flex justify-center items-center bg-blue-500 rounded-full w-12 h-12 text-center"
      />
      <span class="uppercase font-semibold text-xs">story 1</span>
    </div>

    <div class="flex flex-col justify-center items-center gap-2">
      <div
        class="flex justify-center items-center bg-green-500 rounded-full w-12 h-12 text-center"
      />
      <span class="uppercase font-semibold text-xs">story 2</span>
    </div>

    <div class="flex flex-col justify-center items-center gap-2">
      <div
        class="flex justify-center items-center bg-red-500 rounded-full w-12 h-12 text-center"
      />
      <span class="uppercase font-semibold text-xs">story 3</span>
    </div>

    <div class="flex flex-col justify-center items-center gap-2">
      <div
        class="flex justify-center items-center bg-yellow-500 rounded-full w-12 h-12 text-center"
      />
      <span class="uppercase font-semibold text-xs">story 4</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'HeaderStory',
});
</script>
