<template>
  <div class="grid grid-cols-[30%_70%]">
    <div class="flex gap-2 items-center">
      <h3 class="font-bold text-xl">google</h3>
      <ImageVerified class="h-3.5 w-3.5" />
    </div>
    <div class="flex gap-2 items-center">
      <button
        type="button"
        class="inline-block rounded bg-gray-200 px-6 pb-2 pt-2.5 text-lg font-bold leading-normal"
      >
        Ikuti
      </button>
      <button
        type="button"
        class="inline-block rounded bg-gray-200 px-6 pb-2 pt-2.5 text-lg font-bold leading-normal"
      >
        Kirim Pesan
      </button>
    </div>
  </div>

  <div class="grid grid-cols-3 space-y-2 items-end">
    <h3 class="font-bold text-xl">
      2.092 <span class="text-md font-semibold">kiriman</span>
    </h3>
    <h3 class="font-bold text-xl">
      14,1 jt <span class="text-md font-semibold">pengikut</span>
    </h3>
    <h3 class="font-bold text-xl">
      35 <span class="text-md font-semibold">diikuti</span>
    </h3>
  </div>

  <div class="grid grid-cols1 mt-8">
    <h4 class="font-bold">Google</h4>
    <span class="text-gray-400 font-semibold">Perusahaan Internet</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ImageVerified from '../Images/ImageVerified.vue';

export default defineComponent({
  name: 'HeaderProfileInformation',
  components: { ImageVerified },
});
</script>
