<!-- eslint-disable vuejs-accessibility/form-control-has-label -->
<template>
  <div
    class="hidden sm:flex w-3/12 py-1 px-2 bg-gray-50 rounded border sm:gap-2"
  >
    <IconSearch />
    <input
      class="text-sm border-none outline-none w-full text-gray-400 bg-transparent"
      type="text"
      placeholder="Search"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import IconSearch from '../Images/IconSearch.vue';

export default defineComponent({
  name: 'NavbarSearchBox',
  components: { IconSearch },
});
</script>
