<!-- eslint-disable vuejs-accessibility/anchor-has-content -->
<template>
  <a href="#"><Instagram class="w-full h-8 object-contain" /> </a>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Instagram from '../Images/InstagramLogo.vue';

export default defineComponent({
  name: 'NavbarLogo',
  components: { Instagram },
});
</script>
