<template>
  <div class="flex gap-2">
    <button
      type="button"
      class="bg-blue-600 hover:bg-blue-100 text-white font-semibold py-1 px-4 border border-blue-600 rounded"
    >
      Masuk
    </button>
    <button
      type="button"
      class="bg-white text-blue-600 hover:bg-gray-100 font-semibold py-1 px-4"
    >
      Daftar
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'NavbarButton',
});
</script>
