<template>
  <nav class="fixed top-0 bg-white w-full border-b z-10 shadow-sm">
    <div
      class="flex flex-row justify-between items-center py-2 px-3.5 sm:w-full sm:py-2 sm:px-4 md:w-full md:py-2 md:px-6 xl:w-9/12 xl:py-2.5 xl:px-8 mx-auto"
    >
      <NavbarLogo />
      <NavbarSearchBox />
      <NavbarButton />
    </div>
  </nav>

  <router-view />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import NavbarLogo from './components/Navbar/NavbarLogo.vue';
import NavbarSearchBox from './components/Navbar/NavbarSearchBox.vue';
import NavbarButton from './components/Navbar/NavbarButton.vue';

export default defineComponent({
  components: {
    NavbarLogo,
    NavbarSearchBox,
    NavbarButton,
  },
});
</script>
